[submodule ".config/awesome/revelation"]
	path = .config/awesome/revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule ".config/awesome/delightful"]
	path = .config/awesome/delightful
  url = https://foo
